out/
_build/
temp/*
tmp/*
log/*
logs/*
build/
.idea/
.vscode/
dist/

*.temp
*.vt
*.log
*.log
*.bak
*.BAK
*~
Untitled*.*

# Python outputs
*.pyc
*.pyo
*.png
.~*

*.csv

# WingIDE文件
*.wpr
*.wpu

# 压缩文件
*.zip
*.bz2
